modules = ["nodejs-24"]

[agent]
expertMode = true

[userenv]

[userenv.shared]
GUILD_ID = "1498904036118892647"
YOUTUBE_DL_PATH = "/nix/store/am2x1y1qyja0hbyjpffj7rcvycp9d644-yt-dlp-2025.6.30/bin/yt-dlp"
PORT = "9000"

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 9000
externalPort = 9000

[nix]
channel = "stable-25_05"
run = "cd bot/artifacts/api-server && pnpm run dev"
packages = ["nano"]
