modules = ["nodejs-24", "python-3.11"]

[agent]
expertMode = true

[userenv]

[userenv.shared]
GUILD_ID = "1498904036118892647"
YOUTUBE_DL_PATH = "/nix/store/am2x1y1qyja0hbyjpffj7rcvycp9d644-yt-dlp-2025.6.30/bin/yt-dlp"
DISCORD_TOKEN = "MTUwMTEwNjAyNDM0NDcxNTM3NQ.Gy6R2d.myZVFbQ1uks8LKbWR4YZw6o7odSPm-Cv0uRwbM"

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[nix]
channel = "stable-25_05"
